[project]
	description = ????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wu bo (wushifu32)
[access "refs/for/refs/*"]
	read = group user/wu bo (wushifu32)
	push = group user/wu bo (wushifu32)
	label-Code-Review = -2..+2 group user/wu bo (wushifu32)
	label-Verified = -1..+1 group user/wu bo (wushifu32)
	rebase = group user/wu bo (wushifu32)
	removeReviewer = group user/wu bo (wushifu32)
	submit = group user/wu bo (wushifu32)
[access "refs/heads/*"]
	read = group user/wu bo (wushifu32)
	create = group user/wu bo (wushifu32)
	push = +force group user/wu bo (wushifu32)
	pushMerge = group user/wu bo (wushifu32)
[access "refs/tags/*"]
	push = group user/wu bo (wushifu32)
	push = +force group user/wu bo (wushifu32)
